app/*
!.gitkeep
!sample

ssl/*
!.gitkeep

db/mysql_data/*
!.gitkeep

db/mysql_dump/*
!.gitkeep

db/phpmyadmin/*
!.gitkeep

redis/data/*
!.gitkeep

conf/nginx/*
!.gitkeep
!.sample.conf

logs/*
!.gitkeep

.project
.buildpath
.settings/*

docker-compose.yml
